[KEYS]
bot_token = YOUR_BOT_TOKEN
api_id = YOUR_API_ID
api_hash = YOUR_API_HASH

[TELEGRAM]
analyzers = ANALYZER_ID_1,ANALYZER_ID_2,ANALYZER_ID_3
private_log = YOUR_PRIVATE_LOG_CHANNEL_ID
public_log = YOUR_PUBLIC_LOG_CHANNEL_ID

[ACCOUNTS]
account1 = API_KEY,SECRET_KEY
account2 = API_KEY,SECRET_KEY

[PROXIES]
proxy1 = IP:PORT
